body {
  width: 255px;
  height: 400px;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#domain {
  padding: 10px;
  border-bottom: 1px solid #CCC;
  background-color: #F8F8F8;
  fontFamily: 'PingFang SC, Helvetica Neue, Helvetica, STHeiTi, sans-serif';
  webkitFontSmoothing: 'antialiased';
}
#domain ul {
  font-size: 16px;
  white-space: nowrap;
  padding: 0 55px 0 25px;
  margin: 0;
  margin-left: 10px;
  /*padding: 0;*/
  list-style: none;
  line-height: 25px;
}
a {
  color: #15C;
  text-decoration: none;
}
a:focus {
  outline: none;
}
